.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 48px;

  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;

  cursor: pointer;

  color: var(--light-color);

  font-size: 16px;
}

.button:first-child {
  margin-right: 20px;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: var(--inactive-color-08);
}

.buttonStyleLight {
  background-color: var(--light-color);
  color: var(--main-color);
}

.buttonStyleLight:active {
  background-color: #ffffff;
}


