.mainHeader {

}

.greetings {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  height: 2em;

  margin: 0;

  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.message {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  height: 2.65em;

  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
}
