.mainHeader {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 42px;

  background-color: var(--main-color);
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: var(--content-width);
  width: 100%;
}

.titleWrapper {
  display: flex;
  align-items: center;

}

.image {

}

.title {
  margin: 0 0 0 16px;

  color: var(--inactive-color-05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  font-weight: bold;
}
